html {
    background-color: rgb(79, 79, 86);
}




button {
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 1rem;
    background-color: #063232;
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: #a4c7b8;
    cursor: pointer;
    display: block;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    list-style: none;
    outline: none;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: color 100ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}
#title-heading {
    text-align: center;
    font-family: "Marck Script", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 4rem;
}

.book-title {
    text-align: center;
    font-family: "Tangerine", cursive;
    font-size: 60px;
    font-weight: 900;
    margin: 20px;
}

.book-author {
    text-align: center;
    font-family: "Federo", sans-serif;
    font-size: 20px;
    font-weight: 120;
}

#book-list {
    background-color: rgb(41, 56, 56);
    border: 0.5rem solid black;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
}

.book-card {
    width: 300px;
    height: 450px;
    margin: 20px;
    background-color: rgb(78, 93, 83);
    border: 8px solid black;
    border-radius: 4%;
}

[data-read='true'] {
    background-color: pink;
}


.remove-book-button:hover {
    background-color: #2a2a2a;
    color: #912020;
}

#button-container {
    display: flex;
    justify-content: center;
}



dialog {
    background-color: rgb(63, 90, 79);
}

dialog input {
    background-color: rgb(207, 207, 207);
}

